<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Spring-Security 的配置 -->
	<!-- 注意开启use-expressions.表示开启表达式. see:http://www.family168.com/tutorial/springsecurity3/html/el-access.html -->

	<!-- 启用annotation -->

	<!-- <security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled" 
		pre-post-annotations="enabled" /> -->



	<security:global-method-security>
		<security:protect-pointcut access="ROLE_USER,ROLE_ADMIN"
			expression="execution(* qq.spring.controller.*.add(..)" />
		<security:protect-pointcut access="ROLE_USER"
			expression="execution(* qq.spring.controller.*.update (..)" />

	</security:global-method-security>




	<security:http security="none" pattern="/login.jsp*" />

	<security:http auto-config="true" access-denied-page="/error/deny">

		<security:form-login login-page="/login.jsp" />

		<security:logout logout-success-url="/login.jsp" />

		<security:intercept-url pattern="/book/update"
			access="ROLE_USER" />

		<security:intercept-url pattern="/book/add"
			access="ROLE_ADMIN" />

		<security:intercept-url pattern="/index.jsp*"
			access="ROLE_ADMIN,ROLE_USER" />


		<!-- 会话同步 -->
		<security:session-management
			invalid-session-url="/seesoinTimeout.html">
			<security:concurrency-control
				max-sessions="1" error-if-maximum-exceeded="true" />
		</security:session-management>

	</security:http>



	<!-- 指定一个自定义的authentication-manager :customUserDetailsService -->
	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<security:user-service>
				<security:user name="user" password="ee11cbb19052e40b07aac0ca060c23ee"
					authorities="ROLE_USER" />
				<security:user name="admin" password="21232f297a57a5a743894a0e4a801fc3"
					authorities="ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- 对密码进行MD5编码 -->
	<!-- <bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" 
		id="passwordEncoder" /> 通过 customUserDetailsService,Spring会自动的用户的访问级别. 也可以理解成:以后我们和数据库操作就是通过customUserDetailsService来进行关联. 
		<bean id="customUserDetailsService" class="org.liukai.tutorial.service.CustomUserDetailsService" 
		/> -->
	<!-- 国际化 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">

		<property name="defaultEncoding" value="utf-8" />

		<property name="basename"
			value="classpath:org/springframework/security/messages_zh_CN" />
		<!-- <property name="basename" value=" classpath*:/messages_zh_CN" /> -->

	</bean>
</beans>

